In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,4,Rikitea,PF,74.82,clear sky,-23.1203,-134.9692,People ThankYou
1,6,Borba,BR,77.68,broken clouds,-4.3878,-59.5939,Hotel da Amazônia
2,10,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
3,13,Carnarvon,AU,71.67,clear sky,-24.8667,113.6333,Hospitality Carnarvon
4,14,Katsuura,JP,71.71,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Kaseda"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Chaohu"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Heze"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Seoul"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Ryotsu"] 
vacation_stops = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]

In [9]:
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
202,464,Kaseda,JP,79.83,moderate rain,31.4167,130.3167,Sun Stay Kaseda

In [10]:
vacation_stop1

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
176,397,Heze,CN,78.48,clear sky,35.2431,115.4411,Hanting Express Heze North Mudang Road Univers...

In [11]:
vacation_stop2

    City_ID   City Country  Max Temp Description      Lat       Lng Hotel Name
40      112  Seoul      KR     81.97   clear sky  37.5683  126.9778    롯데호텔 서울

In [12]:
vacation_stop3

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
228,518,Ryotsu,JP,76.96,overcast clouds,38.0833,138.4333,Sadokamoko Onsen Kohanno Yado Yoshidaya

In [13]:

# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (31.4167, 130.3167), End: (31.4167, 130.3167)
Stop 1: (35.2431, 115.4411), Stop 2: (37.5683, 126.9778), Stop 3: (38.0833, 138.4333)

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figure_layout = {
    'width': '600px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}

fig = gmaps.figure(layout=figure_layout)
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='600px'))

In [15]:

# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(vacation_stops,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,464,Kaseda,JP,79.83,moderate rain,31.4167,130.3167,Sun Stay Kaseda
1,397,Heze,CN,78.48,clear sky,35.2431,115.4411,Hanting Express Heze North Mudang Road Univers...
2,112,Seoul,KR,81.97,clear sky,37.5683,126.9778,롯데호텔 서울
3,518,Ryotsu,JP,76.96,overcast clouds,38.0833,138.4333,Sadokamoko Onsen Kohanno Yado Yoshidaya

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
four_cities_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
four_cities_layer = gmaps.marker_layer(locations, info_box_content=four_cities_info)
fig.add_layer(four_cities_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))